.a404 {
  width: 218px;
  display: flex;
  height: 160px;
  margin: 28px;
  align-items: end;
  justify-content: center;
  user-select: none;

  h2 {
    color: var(--color1);
    font-size: 64px;
    font-weight: 500;
  }

  .zero {
    width: 4px;
    height: 86px;
    background: #fff;
    margin: auto;
    position: relative;
    animation:
      shake 1s linear infinite alternate,
      lightup 1s linear infinite;
    transform-origin: 0 0;
  }

  .zero::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 32px;
    height: 16px;
    box-sizing: border-box;
    border: 5px solid var(--color4);
    border-top: none;
    border-radius: 0 0 20px 20px;
  }

  .zero::after {
    content: "";
    left: 50%;
    bottom: 0;
    position: absolute;
    transform: translateX(-50%);
    width: 64px;
    height: 32px;
    border-radius: 50px 50px 0 0;
    background: #fff;
  }

  @keyframes shake {
    0% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }
  @keyframes lightup {
    0%,
    20%,
    40% {
      opacity: 0;
    }
    10%,
    30%,
    50%,
    100% {
      opacity: 1;
    }
  }
}

.t404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;

  p {
    font-size: 26px;
    font-weight: 300;
    color: var(--color2);
  }

  a {
    font-size: 18px;
    font-weight: 600;
    padding: 8px 32px;
    margin: 32px 0;
    border-radius: 14px;
    color: var(--color1);
    background: var(--color4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .icon {
      font-size: 38px;
    }

    &:hover {
      background: var(--color11);
    }
  }
}
