.userProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color2);
  user-select: none;
}

.userPhoto {
  padding: 4px;
  border: 4px solid var(--color7);
  border-radius: 50%;
}

.userIcon {
  padding: 16px 6px 6px;
  font-size: 160px;
  border: 4px solid var(--color2);
  border-radius: 50%;
}

.userPName {
  color: var(--color1);
  font-size: 48px;
  text-shadow: -2px 2px 0 var(--color2);
  font-weight: 600;
  margin-top: 6px;
}

.userName {
  color: var(--color1);
  font-size: 38px;
  font-weight: 600;
  margin: 6px 0;
}

.userEmail {
  color: var(--color2);
  font-size: 20px;
  font-weight: 400;
}

.userLogout {
  border: 2px solid #e43030;
  font-size: 14px;
  font-weight: 500;
  width: 160px;
  height: 50px;
  color: #e43030;
  background: var(--color5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.7rem;
  cursor: pointer;
  margin-top: 28px;

  .btnLoader {
    width: 28px;
    height: 28px;
    border: 3px solid #e43030;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear infinite;
  }

  &:hover {
    background: #e43030;
    color: #fff;
  }

  &:hover .btnLoader {
    border: 3px solid #fff;
    border-bottom-color: transparent;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
