.sForm {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 4rem 0 2rem;
  justify-content: center;
  align-items: center;
  background: var(--color5);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  img {
    width: 64px;
    height: 64px;
  }

  h1 {
    cursor: default;
    font-size: 32px;
    color: var(--color1);
    user-select: none;
    font-weight: 800;
  }

  p {
    cursor: default;
    font-size: 15px;
    color: var(--color2);
    user-select: none;
    font-weight: 500;
  }
}

.signup {
  display: flex;
  flex-direction: column;
  background: var(--color5);
  width: 460px;
  height: auto;
  padding: 1rem;
  border-radius: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 26px 0 4px;
  gap: 22px;

  .input {
    display: flex;
    flex-direction: column;

    .placeholder {
      font-size: 1rem;
      user-select: none;
      color: var(--color2);
      padding-bottom: 0.5rem;
      font-weight: 400;
    }

    div {
      padding: 0 8px;
      height: 44px;
      display: flex;
      border: 2px solid var(--color6);
      background: var(--color6);
      border-radius: 0.7rem;
      font-size: 1.2rem;
      color: var(--color1);
      align-items: center;

      &:hover {
        border: 2px solid var(--color7);
      }

      &:has(input:focus, input:active, input:focus-visible) {
        border: 2px solid var(--color7);
      }

      .bxlp {
        cursor: pointer;
        font-size: 32px;
        padding: 4px;
        border-radius: 10px;
        color: var(--color2);

        &:hover {
          background: var(--color7);
        }
      }

      .bxlpActive {
        color: var(--color1);
      }

      input {
        font-size: 20px;
        padding: 0 10px;
        direction: ltr;
        width: 100%;
        outline: none;
        border: none;
        color: var(--color1);
        background: var(--color6);
        font-family: Arial;
      }

      .verifyCode {
        text-align: center;
        font-size: 24px;
      }
    }
  }
}

.errMsg,
.errMsgCode {
  font-size: 12px;
  text-align: center;
  height: 26px;
  user-select: none;
  color: #ff3e3e;
  direction: ltr;
  font-weight: 300;
}

.errMsgCode {
  font-size: 18px;
}

.submitB button {
  width: 100%;
  height: 56px;
  margin: 12px 0 0;
  font-size: 1.2rem;
  background: var(--color8);
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;

  &:hover {
    background: var(--color10);
  }
}

.btnLoader {
  width: 32px;
  height: 32px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color7);
  gap: 6px;
  margin: 26px;
  user-select: none;

  hr {
    width: 28%;
    border: 1px solid;
    color: var(--color6);
  }
}

.options {
  text-align: center;
  user-select: none;
  margin-bottom: 8px;

  &:last-child {
    margin: 0;
  }

  p {
    color: var(--color2);
    font-size: 14px;
  }

  a {
    color: var(--color4);
    font-size: 14px;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid var(--color11);
    }
  }
}

.socialLoginButtons {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.socialLoginButton {
  width: 280px;
  font-weight: 500;
  margin: auto;
  margin-bottom: 1rem;
  height: 48px;
  font-size: 16px;
  border-radius: 0.7rem;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  background: var(--color6);
  color: var(--color1);
  border: 2px solid var(--color6);

  &:hover {
    border: 2px solid var(--color7);
  }

  .btnLoader {
    margin-right: 4px;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear infinite;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .bxl {
    font-size: 28px;
  }
}

@media screen and (max-width: 480px) {
  .sForm {
    padding: 4rem 0;
  }
  .signup {
    width: 100%;
  }
}
